<%- form_for @user, :url => change_email_address_path do |f| -%>

<p><%= f.label :new_email, 'Nowy adres email:', :class => "blocking" %>
<%= f.text_field :new_email, {:class => "text", :size => 30} %></p>

<p><%= f.submit "Zmień adres email", :class => "button" %>
<%= tag :input, :type => 'button', :value => 'Anuluj', :class => "button cancel profil" %></p>

<%- end -%>
