<%- form_for @user, :url => change_password_path do |f| %>

<%= render :partial => 'change_password_form', :locals => {:form => f} %>

<p><%= f.submit "Zmień hasło", :class => "button" %>
<%= button_to_function "Anuluj", "window.location='/profil'",  {:class => "button cancel"} %></p>

<%- end -%>
