<%- form_for @user, :url => user_edit_path(:id => @user.id) do |f| -%>

<%= render :partial => f %>

<p><%= f.submit "Zapisz zmiany", :class => "button" %>
<%= tag :input, :type => 'button', :value => 'Anuluj', :class => "button cancel uzytkownicy" %></p>

<%- end -%>
