<%- form_for @user, :url => user_edit_path(:id => @user.id) do |f| -%>

<%= render :partial => f %>

<p class="submit"><%= f.submit "Zapisz zmiany", :class => "button" %>
<%= link_to 'Anuluj', users_path, :class => 'cancel' %></p>

<%- end -%>
