<%- form_for @user, :url => user_edit_path(:id => @user.id) do |f| -%>

<%= render :partial => f %>

<p><%= f.submit "Zapisz zmiany", :class => "button" %>
<%= button_to_function "Anuluj", "window.location='#{users_path}'",  {:class => "button cancel"} %></p>

<%- end -%>
