<%- form_for @user, :url => forgot_password_path do |f| -%>

<p><%= f.label :email, 'Email:', :class => "blocking" %>
<%= f.text_field :email, :class => "text", :size => 40 %></p>

<p><%= f.submit "Generuj", :class => "button" %>
<%= button_to_function "Anuluj", "window.location='/'",  {:class => "button cancel"} %></p>

<%- end -%>
