<%- form_for @user, :url => forgot_password_path do |f| -%>

<p><%= f.label :email, 'Email:', :class => "blocking" %>
<%= f.text_field :email, :class => "text", :size => 40 %></p>

<p><%= f.submit "Generuj", :class => "button" %>
<%= tag :input, :type => 'button', :value => 'Anuluj', :class => "button cancel logowanie" %></p>

<%- end -%>
