<p>Aby zarejestrować się w serwise wystarczy podać swój adres email, na który zostanie wysłana wiadomość z linkiem aktywującym konto.</p>

<%- form_for @user, :url => register_path do |f| -%>

<p><%= f.label :email, 'Email:', :class => "blocking" %>
<%= f.text_field :email, :class => "text", :size => 30 %></p>

<!-- render :partial => 'captcha' -->

<p><%= f.submit "Rejestracja", :class => "button" %>
<%= tag :input, :type => 'button', :value => 'Anuluj', :class => "button cancel root" %></p>

<%- end -%>
