<%- form_for @user, :url => send_activation_code_path do |f| -%>

<p><%= f.label :email, 'Email:', :class => "blocking" %>
<%= f.text_field :email, :class => "text", :size => 40 %></p>

<p><%= f.submit "Prześlij kod", :class => "button" %>
<%= tag :input, :type => 'button', :value => 'Anuluj', :class => "button cancel panel" %></p>

<%- end -%>
