<%- form_for @user, :url => send_activation_code_path do |f| -%>

<p><%= f.label :email, 'Email:', :class => "blocking" %>
<%= f.text_field :email, :class => "text", :size => 40 %></p>

<p><%= f.submit "Prześlij kod", :class => "button" %>
<%= link_to 'Anuluj', SimplyAuthenticate::Settings.default_redirect_to, :class => 'cancel' %></p>

<%- end -%>
